.main-container{
  display: flex;
  background-color: rgb(7, 126, 231);
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.contacts-container{
  background-color: beige;
  width: 50%;
  height: 400px;
  overflow: scroll;
  
}
.each-contact{
  border-bottom: 1px black solid;
  width: 90%;
  margin-left: 5%;
  padding: 5px;
  position: relative;
  
}

.each-contact p{
  position: absolute;
  right: 2px;
  bottom: 20%;
}

 .form-data{
  position: relative;
  height: 400px;

}
.form-tags{
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top:30%;
  left:30%;
}

.form-tags input,a{
  font-size: 15px;
  text-decoration: none;
  color: black;
  background-color: transparent;
  border: none;
  margin-left: 10%;
  margin-bottom: 10%;
  border-bottom: 1px black solid;

}